@model MVCOnlineTicariOtomasyon.Models.Classes.Product
@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>New Product Page</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Brand)
    @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Stock)
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PurchasePrice)
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SalePrice)
    @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CategoryId)
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Value1, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.ProductPicture)
    @Html.TextBoxFor(x => x.ProductPicture, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Save </button>
</form>


